.form-wrap {
  background-color: #f1f1f1;
  /*rgb(231, 231, 231) */
}


/*input.ng-invalid.ng-dirty {
 
border: 3px red solid;
}*/

.rounded {
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
  padding: 7px 15px;
  border-radius: 18px;
  margin: 2px 0;
  margin: .2rem 0;
  /*width: 100%;*/
}

.roundbut {
  background: #005689;
  border: 0;
  border-radius: 18px;
  color: #fff;
  display: block;
  text-align: left;
  padding: 8px 40px 8px 16px;
  padding: .8rem 4rem .8rem 1.6rem;
}
