.container{
	background-color: white;
	/*border: 1px solid black;*/
}	

.dateBlock{
	min-height: 345px;
	position: relative;
}

.dateBlock span{
   position: absolute;
   bottom: 0;
}
.titleBlock{
	background-color: #A8A8A8;
	min-height: 345px;
}

.imageBlock{

}

