<div class="container">
	<div class="row">

		<div class="col-md-2 ">
		4 янв 2017 г.
		</div>

		<div class="col-md-5 titleBlock">
		<h3>A family at war: saving my granddaughter from FGM</h3>
		<p>For those who do not know her, Ban Soon-taek is a quiet first lady, married to the secretary general of the United Nations but rarely vocal on global issues. She showed another side, as a champion of human rights equalling her more famous husband, at a recent event on ending female genital mutilation (FGM).</p>
		</div>

		<div class="col-md-5">
		<img src="../assets/hierarchicalstructureofthei.jpg" class="img-responsive">
		</div>

	</div>
	<hr>
</div>	