.border{
    border-bottom: 2px  solid #efefec;
}

.dateBlock{
	/*min-height: 345px;*/
	position: relative;
    background-color: white;
}
@media only screen and (min-width : 1024px){
.dateBlock span{
   position: absolute;
   bottom: 0;
}
}
.titleBlock{
	background-color: #efefec;
    
}

.titleBlock:hover { 
    background-color: #DCDCDC;
	cursor: pointer;
}

.imageBlock:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media only screen and (min-width : 1024px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
   /*margin: 0 !important;*/
}