<div class='back'>
  <!-- 	<div class = 'cntrbar'>navbar</div>
 -->
 <div class='container'>
  <div class='logo'>
    <img src="../assets/logo.png">
  </div>
 </div>
  <div class='nav'>
    <div class='container'>
	 <div class = 'row'>	
      <ul>
        <li><a routerLink="/"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a routerLink="/">News</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
        <li><a routerLink="/">About</a></li>
		
      </ul>
	  </div>
    </div>
  </div>
  <div class='breadcrumbs'>
    <div class='container'>
      home
    </div>
  </div>
</div>
