.back{
	background-color: #005689;
}

.logo{
	text-align: right;
	/*padding-right: 15%*/
}
.nav{
	color: white;
	background-color: #00507f;
	width: 100%;
}

.breadcrumbs{
	color: white;
	background-color: gray;
	/*text-align: center;*/
	width: 100%;
	padding-top: 5px;
	padding-left: 15%;
	padding-right: 15%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00456e;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}