<div class='back'>

 <div class='container'>
	 <div class = 'row'>	
      <ul [ngStyle]="{'background-color': 'transparent','font-weight': 'bold'}">
		<li><a><i class="glyphicon glyphicon-user"></i></a></li>
        <li><a routerLink="/signin" routerLinkActive="active">signin</a></li>
        <li><a routerLink="/signup" routerLinkActive="active">signup</a></li>
        <!--<li><a >signout</a></li>-->
      </ul>
	  </div>
    


  <div class='logo'>
    <a routerLink="/">
    <img src="../assets/logo.png">
    </a>
  </div>
 </div>
  <div class='nav'>
    <div class='container'>
	 <div class = 'row'>	
      <ul>
        <li><a routerLink="/"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a routerLink="/">News</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
        <li><a routerLink="/">About</a></li>
		
      </ul>
	  </div>
    </div>
  </div>
  <div class='breadcrumbs'>
    <div class='container breadin'>
      home
    </div>
  </div>
</div>
