.back{
	background-color: #f4f4f4;
	/*border: 1px solid black;*/
}	

.white{
	background-color: white;
}

.back{
	background-color: #f4f4f4;
	/*border: 1px solid black;*/
}	

.white{
	background-color: white;
}

.form-wrap{
	background-color: #f1f1f1;
	/*rgb(231, 231, 231) */
}