<div class="container back">
  <app-news-preview *ngFor="let item of data" [data]="item"></app-news-preview>
  <ul class="pagination">
    <li *ngIf="currentPage != 0" (click)='refreshDB()'><a routerLink="/{{currentPage-1}}">&laquo;</a></li>
    <li (click)='refreshDB()' *ngFor="let item of getPagination()">
      <a routerLink="/{{item}}" routerLinkActive="active">{{item}}</a></li>
    <!--<li><a class="active" href="#">2</a></li>-->
    <li *ngIf="currentPage < numberPages/4-1" (click)='refreshDB()'><a routerLink="/{{currentPage+1}}">&raquo;</a></li>
  </ul>
</div>
