<h1>Send news</h1>
<div class="container">
  <div class="row ">
    <div class="col-md-6">
      <form  (ngSubmit)='onSubmit()'  method="post">
        <input name="title" type="text" class="form-control" placeholder="title" required autofocus>
        <input name="content" type="text" class="form-control" placeholder="content" required>
        <input name="ImageUrl" type="text" class="form-control" placeholder="ImageUrl" required>
        <input type="submit" value="Sign up" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
</div>
